

.img{
   width: auto;
   height: auto;
  max-width: 40px;
  max-height: 40px;
}
.pos{
    left: -170px;
    top: 60px;
}
.img-centro{
    width: auto;
    height: auto;
   max-width: 50px;
   max-height: 50px;
  
}
 #fotoLibro{
                width: auto;
                height: auto;
                max-width: 200px;
                max-height: 200px;
                position: relative;
                left: -200px;
                top: -70px;
            }