<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libreria</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./ccs/style.css">
      
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="nav-link active" th:href="@{/}">LIBRERIA</a>
            <div class="navbar-nav">
                <a class="nav-link active" th:href="@{/login}">Ingresar<span class="sr-only">(current)</span></a>
                <a class="nav-link" th:href="@{/registro}">Crear Cuenta</a>
            </div>
        </nav>
        <br>
        <h1>LIBRERÍA</h1>
        <br>
         <br>
       
            <form th:action="@{/logincheck}" id="centro" method="POST" class="conteinerLogin">

                <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                <p th:if="${logout != null}" th:text="${logout}" style="color:greenyellow"></p>
                <div class="form-group col-md-14">
                    <label for="exampleInputEmail1">E-MAIL</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"  name="mail">
                </div>

                <div class="form-group col-md-14">
                    <label for="exampleInputPassword1">CLAVE</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="clave">
                    
                </div>


                <button type="submit" class="btn btn-primary">Ingresar</button>
                <div style="text-align: ">
                 <p style="color: blue" >¿Aun No Estas Registrado?<a style="color: blue"th:href="@{/registro}" >CrearCuenta</a></p>
               </div>
            </form>
     
    </body>

</html>