<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
   <head th:replace="/fragments/head_1 :: head">  </head>
    <body class="container" id="nuevoLibro">
         <nav th:replace="/fragments/nav :: nav"></nav>
        <div >
            <div class="container">
                <h1 class="display-4 ">Nueva Editorial   <a class="btn btn-primary btn-lg" th:href="@{/editoriales}" role="button"> VOLVER </a></h1>
            </div>
            
              <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
            <div class="card-body">
                <h5 class="card-title">¡Bien Hecho!</h5>
                <p class="card-text" th:text="${exito}" ></p>
                <a th:href="@{/editoriales}" class="btn btn-secondary">Ver Lista</a> 
            </div>
        </div>

        <div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
            <div class="card-body">
                <h5 class="card-title">¡ups!</h5>
                <p class="card-text" th:text="${error}" ></p>
            </div>
        </div>
            
            <form th:action="@{/editoriales/nuevaeditorial}" method="POST" >
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Nombre Editorial</label>
                    <input type="text" class="form-control" id="inputPassword4" name="nombre" placeholder="Nombre de editorial">
                </div>

                <br>
                <button   type="submit" class="btn btn-primary" >Agregar Editorial</button>
            </form>

    </body>
</html>